
.DS_Store
assignment4/.vs/assignment4/xs/project-cache/assignment4-Debug.json
assignment4/.vs/assignment4/xs/UserPrefs.xml
assignment4/bin/Debug/net7.0/assignment4
assignment4/bin/Debug/net7.0/assignment4.deps.json
assignment4/bin/Debug/net7.0/assignment4.dll
assignment4/bin/Debug/net7.0/assignment4.pdb
assignment4/bin/Debug/net7.0/assignment4.runtimeconfig.json
assignment4/obj/assignment4.csproj.nuget.dgspec.json
assignment4/obj/assignment4.csproj.nuget.g.props
assignment4/obj/assignment4.csproj.nuget.g.targets
assignment4/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
assignment4/obj/Debug/net7.0/apphost
assignment4/obj/Debug/net7.0/assignment4.AssemblyInfo.cs
assignment4/obj/Debug/net7.0/assignment4.AssemblyInfoInputs.cache
assignment4/obj/Debug/net7.0/assignment4.assets.cache
assignment4/obj/Debug/net7.0/assignment4.csproj.AssemblyReference.cache
assignment4/obj/Debug/net7.0/assignment4.csproj.CoreCompileInputs.cache
assignment4/obj/Debug/net7.0/assignment4.csproj.FileListAbsolute.txt
assignment4/obj/Debug/net7.0/assignment4.dll
assignment4/obj/Debug/net7.0/assignment4.GeneratedMSBuildEditorConfig.editorconfig
assignment4/obj/Debug/net7.0/assignment4.genruntimeconfig.cache
assignment4/obj/Debug/net7.0/assignment4.GlobalUsings.g.cs
assignment4/obj/Debug/net7.0/assignment4.pdb
assignment4/obj/Debug/net7.0/ref/assignment4.dll
assignment4/obj/Debug/net7.0/refint/assignment4.dll
assignment4/obj/project.assets.json
assignment4/obj/project.nuget.cache
