
.DS_Store
assignment4/.vs/assignment4/xs/project-cache/assignment4-Debug.json
assignment4/.vs/assignment4/xs/UserPrefs.xml
assignment4/bin/Debug/net7.0/assignment4
assignment4/bin/Debug/net7.0/assignment4.deps.json
assignment4/bin/Debug/net7.0/assignment4.dll
assignment4/bin/Debug/net7.0/assignment4.pdb
assignment4/bin/Debug/net7.0/assignment4.runtimeconfig.json
assignment4/obj/assignment4.csproj.nuget.dgspec.json
assignment4/obj/assignment4.csproj.nuget.g.props
assignment4/obj/assignment4.csproj.nuget.g.targets
assignment4/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
assignment4/obj/Debug/net7.0/apphost
assignment4/obj/Debug/net7.0/assignment4.AssemblyInfo.cs
assignment4/obj/Debug/net7.0/assignment4.AssemblyInfoInputs.cache
assignment4/obj/Debug/net7.0/assignment4.assets.cache
assignment4/obj/Debug/net7.0/assignment4.csproj.AssemblyReference.cache
assignment4/obj/Debug/net7.0/assignment4.csproj.CoreCompileInputs.cache
assignment4/obj/Debug/net7.0/assignment4.csproj.FileListAbsolute.txt
assignment4/obj/Debug/net7.0/assignment4.dll
assignment4/obj/Debug/net7.0/assignment4.GeneratedMSBuildEditorConfig.editorconfig
assignment4/obj/Debug/net7.0/assignment4.genruntimeconfig.cache
assignment4/obj/Debug/net7.0/assignment4.GlobalUsings.g.cs
assignment4/obj/Debug/net7.0/assignment4.pdb
assignment4/obj/Debug/net7.0/ref/assignment4.dll
assignment4/obj/Debug/net7.0/refint/assignment4.dll
assignment4/obj/project.assets.json
assignment4/obj/project.nuget.cache
assignment3/.idea/.idea.assignment3.dir/.idea/projectSettingsUpdater.xml
assignment3/.idea/.idea.assignment3.dir/.idea/workspace.xml
assignment4/.idea/.idea.assignment4.dir/.idea/encodings.xml
assignment4/.idea/.idea.assignment4.dir/.idea/indexLayout.xml
assignment4/.idea/.idea.assignment4.dir/.idea/vcs.xml
assignment4/.vs/assignment4/DesignTimeBuild/.dtbcache.v2
assignment4/.vs/assignment4/FileContentIndex/7cf67ff7-336c-4d8f-a0cc-54e75ab3fcf7.vsidx
assignment4/.vs/assignment4/FileContentIndex/read.lock
assignment4/.vs/assignment4/v17/.futdcache.v2
assignment4/.vs/assignment4/v17/.suo
assignment4/.vs/ProjectEvaluation/assignment4.metadata.v6.1
assignment4/.vs/ProjectEvaluation/assignment4.projects.v6.1
assignment4/bin/Debug/net7.0/assignment4.exe
assignment4/obj/Debug/net7.0/apphost.exe
assignment4/obj/Debug/net7.0/assignment4.csproj.BuildWithSkipAnalyzers
assignment4/obj/project.packagespec.json
assignment4/obj/rider.project.restore.info
assignment5/.vs/assignment5/DesignTimeBuild/.dtbcache.v2
assignment5/.vs/assignment5/FileContentIndex/09b96171-7f13-41a9-a60e-69618fd663f5.vsidx
assignment5/.vs/assignment5/FileContentIndex/7c94a215-17d5-415a-9a63-27c1df32ffd7.vsidx
assignment5/.vs/assignment5/FileContentIndex/d7d8151c-405e-4164-9d26-2fbc530400af.vsidx
assignment5/.vs/assignment5/FileContentIndex/e44cc4cd-a2d8-44a2-852b-2022fe72ca43.vsidx
assignment5/.vs/assignment5/FileContentIndex/read.lock
assignment5/.vs/assignment5/v17/.futdcache.v2
assignment5/.vs/assignment5/v17/.suo
assignment5/.vs/assignment5/v17/TestStore/0/000.testlog
assignment5/.vs/assignment5/v17/TestStore/0/testlog.manifest
assignment5/.vs/ProjectEvaluation/assignment5.metadata.v6.1
assignment5/.vs/ProjectEvaluation/assignment5.projects.v6.1
assignment5/bin/Debug/net7.0/assignment5.deps.json
assignment5/bin/Debug/net7.0/assignment5.dll
assignment5/bin/Debug/net7.0/assignment5.exe
assignment5/bin/Debug/net7.0/assignment5.pdb
assignment5/bin/Debug/net7.0/assignment5.runtimeconfig.json
assignment5/bin/Debug/net7.0/nunit.engine.api.dll
assignment5/bin/Debug/net7.0/nunit.engine.core.dll
assignment5/bin/Debug/net7.0/nunit.engine.dll
assignment5/bin/Debug/net7.0/nunit.framework.dll
assignment5/bin/Debug/net7.0/NUnit3.TestAdapter.dll
assignment5/bin/Debug/net7.0/NUnit3.TestAdapter.pdb
assignment5/bin/Debug/net7.0/nunitlite.dll
assignment5/bin/Debug/net7.0/testcentric.engine.metadata.dll
assignment5/bin/Debug/net7.0/TestResult.xml
assignment5/bin/Debug/net7.0/xunit.abstractions.dll
assignment5/bin/Debug/net7.0/xunit.core.dll
assignment5/bin/Debug/net7.0/xunit.execution.dotnet.dll
assignment5/obj/assignment5.csproj.nuget.dgspec.json
assignment5/obj/assignment5.csproj.nuget.g.props
assignment5/obj/assignment5.csproj.nuget.g.targets
assignment5/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
assignment5/obj/Debug/net7.0/apphost.exe
assignment5/obj/Debug/net7.0/assignment5.AssemblyInfo.cs
assignment5/obj/Debug/net7.0/assignment5.AssemblyInfoInputs.cache
assignment5/obj/Debug/net7.0/assignment5.assets.cache
assignment5/obj/Debug/net7.0/assignment5.csproj.AssemblyReference.cache
assignment5/obj/Debug/net7.0/assignment5.csproj.BuildWithSkipAnalyzers
assignment5/obj/Debug/net7.0/assignment5.csproj.CopyComplete
assignment5/obj/Debug/net7.0/assignment5.csproj.CoreCompileInputs.cache
assignment5/obj/Debug/net7.0/assignment5.csproj.FileListAbsolute.txt
assignment5/obj/Debug/net7.0/assignment5.dll
assignment5/obj/Debug/net7.0/assignment5.GeneratedMSBuildEditorConfig.editorconfig
assignment5/obj/Debug/net7.0/assignment5.genruntimeconfig.cache
assignment5/obj/Debug/net7.0/assignment5.GlobalUsings.g.cs
assignment5/obj/Debug/net7.0/assignment5.pdb
assignment5/obj/Debug/net7.0/ref/assignment5.dll
assignment5/obj/Debug/net7.0/refint/assignment5.dll
assignment5/obj/project.assets.json
assignment5/obj/project.nuget.cache
TestResult.xml
assignment6/.vs/assignment6/DesignTimeBuild/.dtbcache.v2
assignment6/.vs/assignment6/FileContentIndex/280590e9-8dc7-48b1-86f4-8fcbb0b2078f.vsidx
assignment6/.vs/assignment6/FileContentIndex/2cb9095b-0ff3-4b20-98fa-0bf53d6c58ea.vsidx
assignment6/.vs/assignment6/FileContentIndex/5a61bcdd-040c-4f1c-ba1b-25bd683c6702.vsidx
assignment6/.vs/assignment6/FileContentIndex/read.lock
assignment6/.vs/assignment6/v17/.suo
assignment6/obj/assignment6.csproj.nuget.dgspec.json
assignment6/obj/assignment6.csproj.nuget.g.props
assignment6/obj/assignment6.csproj.nuget.g.targets
assignment6/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
assignment6/obj/Debug/net7.0/assignment6.AssemblyInfo.cs
assignment6/obj/Debug/net7.0/assignment6.AssemblyInfoInputs.cache
assignment6/obj/Debug/net7.0/assignment6.assets.cache
assignment6/obj/Debug/net7.0/assignment6.csproj.AssemblyReference.cache
assignment6/obj/Debug/net7.0/assignment6.GeneratedMSBuildEditorConfig.editorconfig
assignment6/obj/Debug/net7.0/assignment6.GlobalUsings.g.cs
assignment6/obj/project.assets.json
assignment6/obj/project.nuget.cache
assignment6/.vs/assignment6/FileContentIndex/4531d706-ebc4-46ec-a948-57db7f6106c1.vsidx
assignment6/.vs/assignment6/FileContentIndex/5934a747-f21d-40ef-92be-5ae07331d273.vsidx
assignment6/.vs/assignment6/FileContentIndex/b25c43c2-da26-4c05-8d15-1d48f8356892.vsidx
assignment6/.vs/assignment6/FileContentIndex/b836aa98-8f19-402b-8b27-21d5109369b6.vsidx
assignment6/.vs/assignment6/v17/.futdcache.v2
assignment6/.vs/ProjectEvaluation/assignment6.metadata.v6.1
assignment6/.vs/ProjectEvaluation/assignment6.projects.v6.1
assignment6/assignment6.csproj
assignment6/bin/Debug/net7.0/assignment6.deps.json
assignment6/bin/Debug/net7.0/assignment6.dll
assignment6/bin/Debug/net7.0/assignment6.exe
assignment6/bin/Debug/net7.0/assignment6.pdb
assignment6/bin/Debug/net7.0/assignment6.runtimeconfig.json
assignment6/bin/Debug/net7.0/nunit.engine.api.dll
assignment6/bin/Debug/net7.0/nunit.engine.core.dll
assignment6/bin/Debug/net7.0/nunit.engine.dll
assignment6/bin/Debug/net7.0/nunit.framework.dll
assignment6/bin/Debug/net7.0/NUnit3.TestAdapter.dll
assignment6/bin/Debug/net7.0/NUnit3.TestAdapter.pdb
assignment6/bin/Debug/net7.0/nunitlite.dll
assignment6/bin/Debug/net7.0/testcentric.engine.metadata.dll
assignment6/obj/Debug/net7.0/apphost.exe
assignment6/obj/Debug/net7.0/assignment6.csproj.BuildWithSkipAnalyzers
assignment6/obj/Debug/net7.0/assignment6.csproj.CopyComplete
assignment6/obj/Debug/net7.0/assignment6.csproj.CoreCompileInputs.cache
assignment6/obj/Debug/net7.0/assignment6.csproj.FileListAbsolute.txt
assignment6/obj/Debug/net7.0/assignment6.dll
assignment6/obj/Debug/net7.0/assignment6.genruntimeconfig.cache
assignment6/obj/Debug/net7.0/assignment6.pdb
assignment6/obj/Debug/net7.0/ref/assignment6.dll
assignment6/obj/Debug/net7.0/refint/assignment6.dll
